@{
    Layout = "_EmployeeLayout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Manager Dashboard</title>
</head>
<body>
    <div>
        <table class="table table-striped" id="tabelExpense">

            <thead>
                <tr class="bg-primary">
                    <th scope="col" class="text-light text-center">ID Employee</th>
                    <th scope="col" class="text-light text-center">Name</th>
                    <th scope="col" class="text-light text-center">Date Request</th>
                    <th scope="col" class="text-light text-center">Total</th>
                    <th scope="col" class="text-light text-center">Purpose</th>
                    <th scope="col" class="text-light text-center">Action</th>
                </tr>
            </thead>
            <tbody id="listExpense">
            </tbody>
        </table>
    </div>
</body>
</html>
@section Scripts
    {

    <script src="~/js/GetAllExpense.js"></script>
}