@{
    Layout = "_EmployeeLayout";
}

}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Focus - Bootstrap Admin Dashboard </title>
    <!-- Favicon icon -->

</head>

<body>

    <div class="container-fluid">
        <!-- row -->
        <div class="card">
            <div class="card-header">
                <h4 class="card-title expense-title">Expense Request <span></span></h4>
            </div>
            <div class="card-body">
                <form class="needs-validation" novalidate>

                    <div class="row">
                        <div class="form-group col-xl-6">
                            <label for="inputState">Approver</label>
                            <input type="text" class="form-control input-default" placeholder="" id="Approver" value="" disabled>
                        </div>

                        <div class="form-group col-xl-6">
                            <label for="inputState">Status</label>
                            <input type="text" class="form-control input-default" placeholder="" id="Status" value="" disabled>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-xl-12">
                            <label for="inputState">Purpose</label>
                            <input type="text" class="form-control input-default" placeholder="" id="Purpose" value="">
                        </div>
                    </div>

                    <div class="row">
                        <div class="basic-form form-group col-xl-12">
                            <label for="inputState">Comment</label>
                            <div class="form-group">
                                <textarea class="form-control" rows="4" id="Comment"></textarea>
                            </div>
                        </div>
                    </div>

                    <button class="btn btn-primary" type="button" onclick="return Insert()">Submit form</button>

                </form>

            </div>
        </div>

        <!-- Table -->
        <div class="card">
            <div class="card-body">
                <button class="btn btn-primary mb-3" type="button" onclick="return InsertForm()">Add Expense</button>
                <table id="Formtable" class="table table-hover dt-responsive table-striped nowarp" style="width:100%">
                    <thead class="table-info head-table text-center">
                        <tr>
                            <td> Date </td>
                            <td> Category </td>
                            <td> Type </td>
                            <td> Payee </td>
                            <td> Description </td>
                            <td> Amount </td>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>

</body>
    
</html>

@section Scripts
    {

    <script src="~/js/ExpenseJS.js" > </script>
}