@{
    Layout = "_EmployeeLayout";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Focus - Bootstrap Admin Dashboard </title>
</head>

<body>

    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">EXPENSE REIMBUSMENTS</h4>
            </div>
            <div class="card-body">
                <button type="button" onclick="return InsertExpense()" class="btn btn-primary add-expense"> New Expense </button>
            </div>
        </div>


        <!-- Table -->
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">EXPENSE</h4>
            </div>
            <div class="card-body">
                @*<button class="btn btn-primary mb-3" type="button" onclick="return InsertForm()">Add Expense</button>*@
                <table id="Expense-table" class="table table-hover dt-responsive table-striped nowarp" style="width:100%">
                    <thead class="table-info head-table text-center">
                        <tr>
                            <th> Date </th>
                            <th> Request # ID </th>
                            <th> Total Expense </th>
                            <th> Purpose </th>
                            <th> Status </th>
                            <th> Action </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>data-1</td>
                            <td>data-2</td>
                            <td>data-3</td>
                            <td>data-4</td>
                            <td>data-5</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>

</body>

</html>

@section Scripts
    {
    <script src="~/js/ReimbusmentJS.js"></script>
}