@{
    Layout = "_EmployeeLayout";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Focus - Bootstrap Admin Dashboard </title>
    <!-- Favicon icon -->

    <link rel="icon" type="image/png" sizes="16x16" href="./images/favicon.png">
    <!-- Daterange picker -->
    <link href="~assets/vendor/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
    <!-- Clockpicker -->
    <link href="~assets/vendor/clockpicker/css/bootstrap-clockpicker.min.css" rel="stylesheet">
    <!-- asColorpicker -->
    <link href="~assets/vendor/jquery-asColorPicker/css/asColorPicker.min.css" rel="stylesheet">
    <!-- Material color picker -->
    <link href="~assets/vendor/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css" rel="stylesheet">
    <!-- Pick date -->
    <link rel="stylesheet" href="~assets/vendor/pickadate/themes/default.css">
    <link rel="stylesheet" href="~assets/vendor/pickadate/themes/default.date.css">
    <!-- Custom Stylesheet -->
    <link href="~assets/css/style.css" rel="stylesheet">

</head>

<body>

    <div class="container-fluid">
        <!-- row -->
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Request</h4>
            </div>
            <div class="card-body">
                <form class="needs-validation" novalidate>

                    <div class="row">
                        <div class="form-group col-xl-6">
                            <label>Receipt Date</label>

                            <input name="datepicker" class="datepicker-default form-control" id="datepicker" placeholder="Receipt Date">
                        </div>

                        <div class="form-group col-xl-3">
                            <div class="example">
                                <p class="mb-1">From </p>
                                <input name="datepicker1" class="datepicker-default form-control" id="datepicker" placeholder="Date From">
                            </div>
                        </div>
                        <div class="form-group col-xl-3">
                            <div class="example">
                                <p class="mb-1">To</p>
                                <input name="datepicker2" class="datepicker-default form-control" id="datepicker" placeholder="Date To">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-xl-6">
                            <label for="Category">Category</label>
                            <select id="Category" class="form-control">
                                <option disabled selected>Choose...</option>
                                <option>Transportation</option>
                                <option>Parking</option>
                                <option>Medical</option>
                                <option>Lodging</option>
                            </select>
                        </div>

                        <div class="form-group col-xl-6">
                            <label for="inputState">Type</label>
                             <select id="Type" class="form-control">
                                <option disabled selected>Choose...</option>
                                <option>Transportation</option>
                                <option>Parking</option>
                                <option>Medical</option>
                                <option>Lodging</option>
                            </select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-xl-6">
                            <label for="inputState">Travel destination State</label>
                            <input type="text" class="form-control input-default " placeholder="Travel destination State" id="Destination">
                        </div>

                        <div class="form-group col-xl-6">
                            <label for="inputState">Payee</label>
                             <select id="Payee" class="form-control">
                                <option disabled selected>Choose...</option>
                                <option>Transportation</option>
                                <option>Parking</option>
                                <option>Medical</option>
                                <option>Lodging</option>
                            </select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="basic-form form-group col-xl-12">
                            <label for="inputState">Description</label>
                            <div class="form-group">
                                <textarea class="form-control" rows="4" id="Description"></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="row">

                        <div class="form-group col-xl-6">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-default">Total Amount</span>
                                </div>
                                <input id="Total" type="number" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" step="0.01">
                            </div>
                        </div>

                        <div class="form-group col-xl-6">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="Attachments">
                                <label class="custom-file-label" for="customFile">Choose file</label>
                            </div>
                        </div>

                    </div>

                    <button class="btn btn-primary" type="button" onclick="return Insert()">Submit form</button>
                </form>

            </div>
        </div>
    </div>
    <script src="~assets/vendor/global/global.min.js"></script>
    <script src="~assets/js/quixnav-init.js"></script>
    <script src="~assets/js/custom.min.js"></script>



    <!-- Daterangepicker -->
    <!-- momment js is must -->
    <script src="~assets/vendor/moment/moment.min.js"></script>
    <script src="~assets/vendor/bootstrap-daterangepicker/daterangepicker.js"></script>
    <!-- clockpicker -->
    <script src="~assets/vendor/clockpicker/js/bootstrap-clockpicker.min.js"></script>
    <!-- asColorPicker -->
    <script src="~assets/vendor/jquery-asColor/jquery-asColor.min.js"></script>
    <script src="~assets/vendor/jquery-asGradient/jquery-asGradient.min.js"></script>
    <script src="~assets/vendor/jquery-asColorPicker/js/jquery-asColorPicker.min.js"></script>
    <!-- Material color picker -->
    <script src="~assets/vendor/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js"></script>
    <!-- pickdate -->
    <script src="~assets/vendor/pickadate/picker.js"></script>
    <script src="~assets/vendor/pickadate/picker.time.js"></script>
    <script src="~assets/vendor/pickadate/picker.date.js"></script>



    <!-- Daterangepicker -->
    <script src="~assets/js/plugins-init/bs-daterange-picker-init.js"></script>
    <!-- Clockpicker init -->
    <script src="~assets/js/plugins-init/clock-picker-init.js"></script>
    <!-- asColorPicker init -->
    <script src="~assets/js/plugins-init/jquery-asColorPicker.init.js"></script>
    <!-- Material color picker init -->
    <script src="~assets/js/plugins-init/material-date-picker-init.js"></script>
    <!-- Pickdate -->
    <script src="~assets/js/plugins-init/pickadate-init.js"></script>
</body>

</html>

@section Scripts
    {
    <script src="~/js/FormJS.js"></script>
}