@{
    Layout = "_EmployeeLayout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Finances Dashboard</title>
</head>
<body>
    <div class="container-fluid">

        <!-- Request -->
        <div class="card">
            <div class="card-header">
                <h4 class="card-title expense-title">Expense Request | Finances </h4>
            </div>
            <div class="card-body">
                <div class="button mb-4">
                    <button class="btn btn-primary button " type="button" onclick="return RequestTable()">Request</button>
                    <button class="btn btn-primary button " type="button" onclick="return RejectTable()">Rejected</button>
                    <button class="btn btn-primary button " type="button" onclick="return AllTable()">All</button>
                </div>
                <table class="table table-striped" id="tabelExpense" width="100%">
                    <thead>
                        <tr class="bg-primary column-tab">
                            <th scope="col" class="text-light text-center">Name</th>
                            <th scope="col" class="text-light text-center">Date Request</th>
                            <th scope="col" class="text-light text-center">Total</th>
                            <th scope="col" class="text-light text-center">Purpose</th>
                            <th scope="col" class="text-light text-center status">Action</th>

                        </tr>
                    </thead>
                    <tbody class="text-dark" id="listExpense">
                    </tbody>
                </table>

            </div>
        </div>
    </div>

    <!-- Modal Detail Employee-->
    <div class="modal fade" id="DetailModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Expense Detail</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="table col data-employ">

                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Reject -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Reject</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row reject-modal">

                        </div>

                    </div>
                    <div class="row">
                        <div class="basic-form form-group col-xl-12">
                            <label for="inputState">Description</label>
                            <div class="form-group">
                                <textarea class="form-control" rows="4" id="managercomment" name="message"></textarea>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" onclick="return Reject()">Reject!</button>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/gasparesganga-jquery-loading-overlay@2.1.7/dist/loadingoverlay.min.js"></script>
</body>
</html>
@section Scripts
    {
    <script src="~/js/site.js"></script>
    <script src="~/js/FinancesJS.js"></script>
}